@{ 
    ViewData["Title"] = "CV";
}

    <div class="text-center">
        @{
            <asp:img ID="Image1" runat="server" ImageUrl="images/k_avatar.png" />
        }
        
        <img src="images/k_avatar.png" style="width: 150px; height: 150px;" class="rounded-circle" />
        <h1 class="display-4"><b>Kwothsei</b></h1>
        <p>Are you out of your goddamn mind!?</p>
    </div>