@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to aspweb</h1>
    <p>This is a test website used to play around an experiment with ASP.NET Core</p>

    <table style="width: 100%; outline-color: black; outline-width: 2px;">
        <tr>
            <th style="background-color: aquamarine; outline-style: solid; outline-color: black; outline-width: 0.5px;">Day</th>
            <th style="background-color: aquamarine; outline-style: solid; outline-color: black; outline-width: 0.5px;">Month</th>
            <th style="background-color: aquamarine; outline-style: solid; outline-color: black; outline-width: 0.5px;">Year</th>
        </tr>
        <tr>
            <td style="background-color: floralwhite; outline-style: solid; outline-color: black; outline-width: 0.2px;">@DateTime.Now.ToString("dd")</td>
            <td style="background-color: floralwhite; outline-style: solid; outline-color: black; outline-width: 0.2px;">@DateTime.Now.ToString("MMMM")</td>
            <td style="background-color: floralwhite; outline-style: solid; outline-color: black; outline-width: 0.2px;">@DateTime.Now.ToString("yyyy")</td>
        </tr>
    </table>
</div>
