@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <img id="avatar" src="~/wwwroot/images/k_avatar.png" class="rounded-circle" style="width: 200px; height: 200px;"/>
    <h1 class="display-3 font-weight-bold">Kwothsei</h1>
    <p>This is just a test about page.</p>
    <p>Pretend there's a big text here that says something about X and Y.</p>
</div>